@charset "UTF-8";
/*头部*/
.headLogo {
  overflow: hidden; }
  .headLogo .container {
    overflow: hidden; }
    .headLogo .container .logo {
      width: 220px;
      height: 100px; }
    .headLogo .container .car_nav {
      border-bottom: 1px solid #ccc;
      width: 1200px;
      height: 27px; }
      .headLogo .container .car_nav img {
        display: inline-block;
        float: right;
        height: 100%; }

/*标题*/
.title {
  overflow: hidden; }
  .title .container {
    overflow: hidden; }
    .title .container .title_box {
      margin-top: 15px;
      overflow: hidden; }
      .title .container .title_box h3 {
        display: inline-block;
        float: left;
        font-size: 18px;
        height: 42px;
        line-height: 42px;
        font-weight: 700; }
      .title .container .title_box a {
        display: inline-block;
        float: right; }

/*结算*/
.catbox {
  width: 1200px;
  margin: 10px auto;
  overflow: hidden; }
  .catbox ol {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden; }
    .catbox ol .mbshop_cart_1127_tab {
      height: auto;
      overflow: hidden;
      background: #f8f7f7;
      margin: 20px auto 0; }
      .catbox ol .mbshop_cart_1127_tab li {
        float: left;
        line-height: 40px;
        text-align: left;
        font-family: "微软雅黑"; }
        .catbox ol .mbshop_cart_1127_tab li .mbshop_checkbox {
          margin-left: 10px;
          position: relative;
          cursor: pointer;
          display: inline-block;
          padding-left: 18px;
          width: auto;
          height: 100%; }
          .catbox ol .mbshop_cart_1127_tab li .mbshop_checkbox input {
            display: inline-block;
            position: absolute;
            left: 0;
            top: 13px; }
          .catbox ol .mbshop_cart_1127_tab li .mbshop_checkbox .checkbox {
            vertical-align: middle; }
          .catbox ol .mbshop_cart_1127_tab li .mbshop_checkbox i {
            position: absolute;
            left: 0; }
          .catbox ol .mbshop_cart_1127_tab li .mbshop_checkbox .iconfontselect {
            color: #f8584f; }
          .catbox ol .mbshop_cart_1127_tab li .mbshop_checkbox .iconfont {
            font-family: bgweb-iconfont;
            font-size: 18px;
            font-style: normal;
            color: #ccc;
            display: inline-block;
            height: 18px;
            width: 18px; }
          .catbox ol .mbshop_cart_1127_tab li .mbshop_checkbox b {
            margin-left: 12px;
            font-weight: 400; }
      .catbox ol .mbshop_cart_1127_tab .mbshop_cart_1127_01 {
        width: 126px; }
      .catbox ol .mbshop_cart_1127_tab .mbshop_cart_1127_02 {
        width: 250px; }
      .catbox ol .mbshop_cart_1127_tab .mbshop_cart_1127_03 {
        width: 208px; }
      .catbox ol .mbshop_cart_1127_tab .mbshop_cart_1127_04 {
        width: 210px; }
      .catbox ol .mbshop_cart_1127_tab .mbshop_cart_1127_05 {
        width: 177px; }
      .catbox ol .mbshop_cart_1127_tab .mbshop_cart_1127_07 {
        width: 155px; }
      .catbox ol .mbshop_cart_1127_tab .mbshop_cart_1127_09 {
        width: 74px; }
  .catbox .mbshop_cart_1127_warp_box {
    width: 1200px;
    height: auto;
    margin: 0 auto;
    float: none; }
    .catbox .mbshop_cart_1127_warp_box .mbshopAll {
      border: 1px solid #ccc;
      width: 1200px;
      box-sizing: border-box;
      margin-top: 20px; }
      .catbox .mbshop_cart_1127_warp_box .mbshopAll .banggo_cart_tab {
        width: 100%;
        height: 40px;
        line-height: 40px;
        background: #fdf6ee;
        font-size: 12px;
        font-family: "微软雅黑";
        float: none;
        border-bottom: 1px solid #eaeaea; }
        .catbox .mbshop_cart_1127_warp_box .mbshopAll .banggo_cart_tab .mbshop_checkbox {
          margin-left: 10px;
          position: relative;
          cursor: pointer;
          display: inline-block;
          padding-left: 18px;
          width: auto;
          height: 100%; }
          .catbox .mbshop_cart_1127_warp_box .mbshopAll .banggo_cart_tab .mbshop_checkbox input {
            display: inline-block;
            position: absolute;
            left: 0;
            top: 13px; }
          .catbox .mbshop_cart_1127_warp_box .mbshopAll .banggo_cart_tab .mbshop_checkbox input[type=checkbox] {
            vertical-align: middle; }
          .catbox .mbshop_cart_1127_warp_box .mbshopAll .banggo_cart_tab .mbshop_checkbox i {
            position: absolute;
            left: 0; }
          .catbox .mbshop_cart_1127_warp_box .mbshopAll .banggo_cart_tab .mbshop_checkbox .iconfont {
            font-family: bgweb-iconfont;
            font-size: 18px;
            font-style: normal;
            color: #ccc;
            display: inline-block;
            height: 18px;
            width: 18px; }
          .catbox .mbshop_cart_1127_warp_box .mbshopAll .banggo_cart_tab .mbshop_checkbox input {
            width: 15px;
            height: 15px;
            float: left; }
          .catbox .mbshop_cart_1127_warp_box .mbshopAll .banggo_cart_tab .mbshop_checkbox .iconfontselect {
            color: #f8584f; }
        .catbox .mbshop_cart_1127_warp_box .mbshopAll .banggo_cart_tab em {
          float: right;
          margin-right: 40px; }
      .catbox .mbshop_cart_1127_warp_box .mbshopAll .mbshop_cart_1127_single_warp_box {
        border: none;
        border-bottom: 1px solid #eaeaea;
        width: 100%;
        height: auto;
        box-sizing: border-box; }
        .catbox .mbshop_cart_1127_warp_box .mbshopAll .mbshop_cart_1127_single_warp_box .mbshop_cart_giftList {
          margin-top: 0;
          border-top: none; }
        .catbox .mbshop_cart_1127_warp_box .mbshopAll .mbshop_cart_1127_single_warp_box .mbshop_cart_1127_single_label:last-child {
          border-bottom: none; }
        .catbox .mbshop_cart_1127_warp_box .mbshopAll .mbshop_cart_1127_single_warp_box .mbshop_cart_1127_single_label {
          width: 100%;
          height: auto;
          overflow: hidden;
          background: #fcf6ee;
          float: none;
          position: relative; }
          .catbox .mbshop_cart_1127_warp_box .mbshopAll .mbshop_cart_1127_single_warp_box .mbshop_cart_1127_single_label .mbshop_cart_1127_single_label_00 {
            float: left; }
            .catbox .mbshop_cart_1127_warp_box .mbshopAll .mbshop_cart_1127_single_warp_box .mbshop_cart_1127_single_label .mbshop_cart_1127_single_label_00 .mbshop_cart_1127_single_label_01 {
              background: #f8584f;
              height: 25px;
              line-height: 25px;
              width: 55px;
              text-align: center; }
          .catbox .mbshop_cart_1127_warp_box .mbshopAll .mbshop_cart_1127_single_warp_box .mbshop_cart_1127_single_label span {
            display: block;
            float: left;
            color: #fff;
            border-radius: 3px;
            margin: 8px 10px; }
          .catbox .mbshop_cart_1127_warp_box .mbshopAll .mbshop_cart_1127_single_warp_box .mbshop_cart_1127_single_label .mbshop_cart_1127_single_label_ex {
            float: left;
            margin-left: 30px;
            display: inline-block; }
            .catbox .mbshop_cart_1127_warp_box .mbshopAll .mbshop_cart_1127_single_warp_box .mbshop_cart_1127_single_label .mbshop_cart_1127_single_label_ex p:nth-child(1) {
              border-top: 0; }
            .catbox .mbshop_cart_1127_warp_box .mbshopAll .mbshop_cart_1127_single_warp_box .mbshop_cart_1127_single_label .mbshop_cart_1127_single_label_ex .mbshop_cart_gift {
              line-height: 40px; }
            .catbox .mbshop_cart_1127_warp_box .mbshopAll .mbshop_cart_1127_single_warp_box .mbshop_cart_1127_single_label .mbshop_cart_1127_single_label_ex p {
              overflow: hidden;
              width: 100%;
              display: block; }
              .catbox .mbshop_cart_1127_warp_box .mbshopAll .mbshop_cart_1127_single_warp_box .mbshop_cart_1127_single_label .mbshop_cart_1127_single_label_ex p i {
                font-style: normal;
                float: left;
                font-weight: 400; }
        .catbox .mbshop_cart_1127_warp_box .mbshopAll .mbshop_cart_1127_single_warp_box .mbshop_cart_1127_single_goods {
          width: 100%;
          height: 120px;
          padding: 20px 0;
          border-top: 1px solid #eaeaea;
          box-sizing: border-box; }
          .catbox .mbshop_cart_1127_warp_box .mbshopAll .mbshop_cart_1127_single_warp_box .mbshop_cart_1127_single_goods li {
            float: left;
            height: 100%;
            line-height: 22px;
            text-align: center; }
          .catbox .mbshop_cart_1127_warp_box .mbshopAll .mbshop_cart_1127_single_warp_box .mbshop_cart_1127_single_goods .mbshop_cart_1127_single_01 {
            width: 38px; }
            .catbox .mbshop_cart_1127_warp_box .mbshopAll .mbshop_cart_1127_single_warp_box .mbshop_cart_1127_single_goods .mbshop_cart_1127_single_01 p {
              font-weight: 400; }
              .catbox .mbshop_cart_1127_warp_box .mbshopAll .mbshop_cart_1127_single_warp_box .mbshop_cart_1127_single_goods .mbshop_cart_1127_single_01 p .mbshop_checkbox {
                position: relative;
                cursor: pointer;
                display: inline-block;
                padding-left: 18px;
                width: auto;
                height: 100%; }
                .catbox .mbshop_cart_1127_warp_box .mbshopAll .mbshop_cart_1127_single_warp_box .mbshop_cart_1127_single_goods .mbshop_cart_1127_single_01 p .mbshop_checkbox input {
                  display: inline-block;
                  position: absolute;
                  left: 0;
                  top: 13px; }
                .catbox .mbshop_cart_1127_warp_box .mbshopAll .mbshop_cart_1127_single_warp_box .mbshop_cart_1127_single_goods .mbshop_cart_1127_single_01 p .mbshop_checkbox .mbshop_cart_1127_single_goods_checkbox {
                  width: 15px;
                  height: 15px; }
                .catbox .mbshop_cart_1127_warp_box .mbshopAll .mbshop_cart_1127_single_warp_box .mbshop_cart_1127_single_goods .mbshop_cart_1127_single_01 p .mbshop_checkbox i {
                  position: absolute;
                  top: 0;
                  left: 0; }
          .catbox .mbshop_cart_1127_warp_box .mbshopAll .mbshop_cart_1127_single_warp_box .mbshop_cart_1127_single_goods .mbshop_cart_1127_single_02 {
            width: 296px; }
            .catbox .mbshop_cart_1127_warp_box .mbshopAll .mbshop_cart_1127_single_warp_box .mbshop_cart_1127_single_goods .mbshop_cart_1127_single_02 dl {
              width: 500px;
              height: auto;
              overflow: hidden; }
              .catbox .mbshop_cart_1127_warp_box .mbshopAll .mbshop_cart_1127_single_warp_box .mbshop_cart_1127_single_goods .mbshop_cart_1127_single_02 dl dt {
                float: left;
                width: 78px;
                height: 78px;
                border: 1px solid #eaeaea; }
                .catbox .mbshop_cart_1127_warp_box .mbshopAll .mbshop_cart_1127_single_warp_box .mbshop_cart_1127_single_goods .mbshop_cart_1127_single_02 dl dt a {
                  color: #000;
                  overflow: hidden; }
                  .catbox .mbshop_cart_1127_warp_box .mbshopAll .mbshop_cart_1127_single_warp_box .mbshop_cart_1127_single_goods .mbshop_cart_1127_single_02 dl dt a img {
                    width: 100%;
                    height: 100%; }
              .catbox .mbshop_cart_1127_warp_box .mbshopAll .mbshop_cart_1127_single_warp_box .mbshop_cart_1127_single_goods .mbshop_cart_1127_single_02 dl dd {
                width: 206px;
                height: auto;
                float: left;
                padding-left: 10px;
                box-sizing: border-box;
                font-size: 12px; }
                .catbox .mbshop_cart_1127_warp_box .mbshopAll .mbshop_cart_1127_single_warp_box .mbshop_cart_1127_single_goods .mbshop_cart_1127_single_02 dl dd a {
                  display: block; }
                .catbox .mbshop_cart_1127_warp_box .mbshopAll .mbshop_cart_1127_single_warp_box .mbshop_cart_1127_single_goods .mbshop_cart_1127_single_02 dl dd p {
                  width: 148px;
                  text-align: left;
                  overflow: hidden;
                  line-height: 20px; }
                .catbox .mbshop_cart_1127_warp_box .mbshopAll .mbshop_cart_1127_single_warp_box .mbshop_cart_1127_single_goods .mbshop_cart_1127_single_02 dl dd i {
                  width: 100%;
                  display: block;
                  text-align: left;
                  font-style: normal;
                  color: #999; }
                .catbox .mbshop_cart_1127_warp_box .mbshopAll .mbshop_cart_1127_single_warp_box .mbshop_cart_1127_single_goods .mbshop_cart_1127_single_02 dl dd .mbshop_cart_1127_b {
                  width: 410px;
                  height: auto;
                  overflow: hidden;
                  line-height: 16px; }
                  .catbox .mbshop_cart_1127_warp_box .mbshopAll .mbshop_cart_1127_single_warp_box .mbshop_cart_1127_single_goods .mbshop_cart_1127_single_02 dl dd .mbshop_cart_1127_b b:first-child {
                    margin-left: 0; }
                  .catbox .mbshop_cart_1127_warp_box .mbshopAll .mbshop_cart_1127_single_warp_box .mbshop_cart_1127_single_goods .mbshop_cart_1127_single_02 dl dd .mbshop_cart_1127_b b {
                    display: inline-block;
                    text-align: left;
                    float: left;
                    font-style: normal;
                    margin-bottom: 3px;
                    color: #f8584f;
                    box-sizing: border-box;
                    margin-left: 10px; }
                    .catbox .mbshop_cart_1127_warp_box .mbshopAll .mbshop_cart_1127_single_warp_box .mbshop_cart_1127_single_goods .mbshop_cart_1127_single_02 dl dd .mbshop_cart_1127_b b i {
                      width: 100%;
                      display: block;
                      text-align: left;
                      font-style: normal;
                      color: #999; }
                    .catbox .mbshop_cart_1127_warp_box .mbshopAll .mbshop_cart_1127_single_warp_box .mbshop_cart_1127_single_goods .mbshop_cart_1127_single_02 dl dd .mbshop_cart_1127_b b .iconfont {
                      color: #f8584f;
                      font-size: 16px;
                      display: inline;
                      padding-right: 2px;
                      vertical-align: top; }
                  .catbox .mbshop_cart_1127_warp_box .mbshopAll .mbshop_cart_1127_single_warp_box .mbshop_cart_1127_single_goods .mbshop_cart_1127_single_02 dl dd .mbshop_cart_1127_b b.icon_grey {
                    color: #c7c7c7; }
          .catbox .mbshop_cart_1127_warp_box .mbshopAll .mbshop_cart_1127_single_warp_box .mbshop_cart_1127_single_goods .mbshop_cart_1127_single_03 {
            width: 190px;
            box-sizing: border-box; }
            .catbox .mbshop_cart_1127_warp_box .mbshopAll .mbshop_cart_1127_single_warp_box .mbshop_cart_1127_single_goods .mbshop_cart_1127_single_03 p {
              line-height: 15px;
              text-align: left;
              padding-left: 50px;
              box-sizing: border-box; }
          .catbox .mbshop_cart_1127_warp_box .mbshopAll .mbshop_cart_1127_single_warp_box .mbshop_cart_1127_single_goods .mbshop_cart_1127_single_04 {
            width: 160px;
            padding-right: 20px; }
            .catbox .mbshop_cart_1127_warp_box .mbshopAll .mbshop_cart_1127_single_warp_box .mbshop_cart_1127_single_goods .mbshop_cart_1127_single_04 #main_box {
              width: 80px;
              height: 25px;
              margin-left: 66px;
              float: none;
              cursor: pointer; }
              .catbox .mbshop_cart_1127_warp_box .mbshopAll .mbshop_cart_1127_single_warp_box .mbshop_cart_1127_single_goods .mbshop_cart_1127_single_04 #main_box .select_box {
                width: 80px;
                position: relative;
                text-align: left; }
                .catbox .mbshop_cart_1127_warp_box .mbshopAll .mbshop_cart_1127_single_warp_box .mbshop_cart_1127_single_goods .mbshop_cart_1127_single_04 #main_box .select_box div {
                  line-height: 25px;
                  width: 80px;
                  text-align: left;
                  padding-left: 7px;
                  box-sizing: border-box;
                  height: 25px;
                  border: 1px solid #ccc; }
                .catbox .mbshop_cart_1127_warp_box .mbshopAll .mbshop_cart_1127_single_warp_box .mbshop_cart_1127_single_goods .mbshop_cart_1127_single_04 #main_box .select_box ul li {
                  cursor: pointer;
                  text-align: left;
                  height: 35px; }
                  .catbox .mbshop_cart_1127_warp_box .mbshopAll .mbshop_cart_1127_single_warp_box .mbshop_cart_1127_single_goods .mbshop_cart_1127_single_04 #main_box .select_box ul li input {
                    margin-right: 5px; }
                .catbox .mbshop_cart_1127_warp_box .mbshopAll .mbshop_cart_1127_single_warp_box .mbshop_cart_1127_single_goods .mbshop_cart_1127_single_04 #main_box .select_box .son_ul {
                  display: none;
                  width: 177px;
                  position: absolute;
                  left: 1px;
                  top: 25px;
                  background: #fff;
                  margin-left: -1px;
                  height: auto;
                  border: 1px solid #ccc;
                  z-index: 990; }
                  .catbox .mbshop_cart_1127_warp_box .mbshopAll .mbshop_cart_1127_single_warp_box .mbshop_cart_1127_single_goods .mbshop_cart_1127_single_04 #main_box .select_box .son_ul li {
                    line-height: 35px;
                    padding: 0 10px;
                    width: 157px;
                    color: #000; }
                    .catbox .mbshop_cart_1127_warp_box .mbshopAll .mbshop_cart_1127_single_warp_box .mbshop_cart_1127_single_goods .mbshop_cart_1127_single_04 #main_box .select_box .son_ul li .mbshop_radio {
                      position: relative;
                      cursor: pointer;
                      display: inline-block;
                      padding-left: 18px;
                      width: auto;
                      height: 100%; }
                      .catbox .mbshop_cart_1127_warp_box .mbshopAll .mbshop_cart_1127_single_warp_box .mbshop_cart_1127_single_goods .mbshop_cart_1127_single_04 #main_box .select_box .son_ul li .mbshop_radio i {
                        top: 8px;
                        text-decoration: none;
                        position: absolute; }
                    .catbox .mbshop_cart_1127_warp_box .mbshopAll .mbshop_cart_1127_single_warp_box .mbshop_cart_1127_single_goods .mbshop_cart_1127_single_04 #main_box .select_box .son_ul li b {
                      float: left;
                      font-style: normal;
                      width: 129px;
                      height: 35px;
                      white-space: nowrap;
                      text-overflow: ellipsis;
                      overflow: hidden;
                      margin-left: 10px; }
            .catbox .mbshop_cart_1127_warp_box .mbshopAll .mbshop_cart_1127_single_warp_box .mbshop_cart_1127_single_goods .mbshop_cart_1127_single_04 i {
              text-decoration: line-through;
              display: block;
              font-style: normal;
              color: #ccc; }
            .catbox .mbshop_cart_1127_warp_box .mbshopAll .mbshop_cart_1127_single_warp_box .mbshop_cart_1127_single_goods .mbshop_cart_1127_single_04 em {
              display: block;
              font-weight: 700; }
          .catbox .mbshop_cart_1127_warp_box .mbshopAll .mbshop_cart_1127_single_warp_box .mbshop_cart_1127_single_goods .mbshop_cart_1127_single_05 {
            margin-left: 10px;
            width: 86px;
            margin: 0 64px; }
            .catbox .mbshop_cart_1127_warp_box .mbshopAll .mbshop_cart_1127_single_warp_box .mbshop_cart_1127_single_goods .mbshop_cart_1127_single_05 .mbshop_cart_1127_single_label_left {
              float: left;
              width: 16px;
              height: 23px;
              line-height: 21px;
              font-size: 14px;
              cursor: pointer;
              border: 1px solid #ccc;
              border-right: 0;
              background: #f0f0f0; }
            .catbox .mbshop_cart_1127_warp_box .mbshopAll .mbshop_cart_1127_single_warp_box .mbshop_cart_1127_single_goods .mbshop_cart_1127_single_05 .mbshop_cart_1127_single_goods_num {
              width: 40px;
              height: 23px;
              text-align: center;
              float: left;
              border: 1px solid #aaa; }
            .catbox .mbshop_cart_1127_warp_box .mbshopAll .mbshop_cart_1127_single_warp_box .mbshop_cart_1127_single_goods .mbshop_cart_1127_single_05 .mbshop_cart_1127_single_label_right {
              float: left;
              width: 16px;
              height: 23px;
              line-height: 21px;
              font-size: 14px;
              cursor: pointer;
              border: 1px solid #ccc;
              border-left: 0;
              background: #f0f0f0; }
            .catbox .mbshop_cart_1127_warp_box .mbshopAll .mbshop_cart_1127_single_warp_box .mbshop_cart_1127_single_goods .mbshop_cart_1127_single_05 p {
              width: 100%;
              float: left;
              text-align: center;
              color: #fa6163;
              padding-top: 3px; }
          .catbox .mbshop_cart_1127_warp_box .mbshopAll .mbshop_cart_1127_single_warp_box .mbshop_cart_1127_single_goods .mbshop_cart_1127_single_07 {
            font-weight: 700;
            color: #f8635b;
            width: 180px; }
          .catbox .mbshop_cart_1127_warp_box .mbshopAll .mbshop_cart_1127_single_warp_box .mbshop_cart_1127_single_goods .mbshop_cart_1127_single_09 {
            padding-right: 22px;
            width: 98px;
            box-sizing: border-box; }
            .catbox .mbshop_cart_1127_warp_box .mbshopAll .mbshop_cart_1127_single_warp_box .mbshop_cart_1127_single_goods .mbshop_cart_1127_single_09 a {
              display: block;
              color: #000;
              text-align: right; }
  .catbox .go_to_balance_warp p {
    font-weight: 400; }
  .catbox .go_to_balance_warp .go_to_balance {
    width: 1200px;
    height: 60px;
    position: fixed;
    margin: 0 auto;
    bottom: 0;
    z-index: 99;
    background: #f7f7f7; }
    .catbox .go_to_balance_warp .go_to_balance .go_to_balance_left {
      width: 1048px;
      height: 60px;
      line-height: 60px;
      text-align: center;
      font-size: 14px;
      display: inline-block;
      overflow: hidden; }
      .catbox .go_to_balance_warp .go_to_balance .go_to_balance_left .mbshop_checkbox {
        float: left;
        position: relative;
        cursor: pointer;
        display: inline-block;
        padding-left: 18px;
        width: auto;
        height: 100%; }
        .catbox .go_to_balance_warp .go_to_balance .go_to_balance_left .mbshop_checkbox input {
          display: inline-block;
          position: absolute;
          left: 12px;
          top: 24px; }
        .catbox .go_to_balance_warp .go_to_balance .go_to_balance_left .mbshop_checkbox .iconfontselect {
          color: #f8584f; }
        .catbox .go_to_balance_warp .go_to_balance .go_to_balance_left .mbshop_checkbox b {
          margin-left: 12px;
          font-weight: 400; }
      .catbox .go_to_balance_warp .go_to_balance .go_to_balance_left .go_to_balance_left_del {
        float: left;
        margin-left: 10px;
        cursor: pointer; }
      .catbox .go_to_balance_warp .go_to_balance .go_to_balance_left .go_to_balance_left_clean {
        float: left;
        margin-left: 20px;
        cursor: pointer; }
      .catbox .go_to_balance_warp .go_to_balance .go_to_balance_left .go_to_balance_left_total {
        line-height: 56px;
        float: right; }
        .catbox .go_to_balance_warp .go_to_balance .go_to_balance_left .go_to_balance_left_total i {
          font-style: normal;
          font-size: 20px;
          color: #f8584f; }
      .catbox .go_to_balance_warp .go_to_balance .go_to_balance_left .go_to_balance_left_alg {
        margin-right: 20px;
        float: right; }
        .catbox .go_to_balance_warp .go_to_balance .go_to_balance_left .go_to_balance_left_alg i {
          font-style: normal; }
      .catbox .go_to_balance_warp .go_to_balance .go_to_balance_left .go_to_balance_left_have {
        float: right;
        margin-right: 20px; }
        .catbox .go_to_balance_warp .go_to_balance .go_to_balance_left .go_to_balance_left_have em {
          color: #f8584f;
          font-size: 18px;
          margin: 0 5px; }
    .catbox .go_to_balance_warp .go_to_balance .go_to_balance_right {
      float: right;
      width: 12%;
      height: 60px;
      text-align: center;
      line-height: 60px;
      font-size: 26px;
      color: #fff;
      background: #FF0000;
      font-family: "微软雅黑"; }
    .catbox .go_to_balance_warp .go_to_balance .go_to_balance_right_on {
      background: red; }
